html,
 body {
    height: 100%;
       background: url('../images/shut.png') no-repeat;
       background-size: 100% 70%;
    background-position: 100% 100%; 
    
}
img{

	width: 100px;
	height: 100px;
}